<@List.item as |Item|>

  {{#if @route}}
    <li>
      <a {{action 'closeThenTransition' Item.clearActiveItems}}
        href={{url}}
        class='
        block w-64 p-4 no-underline
        {{if Item.isActive 'bg-blue text-white' 'bg-grey-light text-grey-darkest'}}
      '>
        {{yield}}
      </a>
    </li>

  {{else}}
    <li class='
      w-64 p-4 cursor-pointer
      {{if Item.isActive 'bg-blue text-white' 'bg-white'}}
    '>
      {{yield (hash
        submenu=(component 'navigation-submenu'
          Item=Item
          tetherTarget=(concat '#' elementId)
          attachment='top left'
          targetAttachment='top right'
        )
      )}}
    </li>
  {{/if}}
</@List.item>
