<div class="m-4">
  <DropdownList class='list-reset flex' as |List|>
    <List.item class='w-64 p-4 bg-grey-light cursor-pointer' as |Item|>
      Menu A {{if Item.isActive '(active)'}}
    </List.item>

    <List.item
      data-tether-id="menu-b"
      class='w-64 p-4 bg-grey-light cursor-pointer'
    as |Item|>
      Menu B {{if Item.isActive '(active)'}}

      {{#if Item.isActive}}
        {{#modal-dialog
          tetherTarget='[data-tether-id="menu-b"]'
          targetAttachment='bottom left'
          attachment='top left'
          animatable=true
          hasOverlay=false
        }}
          <Item.sublist class='-mt-2 list-reset bg-white shadow' as |List|>
            <List.item class='p-4' as |Item|>
              Submenu 1 {{if Item.isActive '(active)'}}
            </List.item>

            <List.item class='p-4 relative' as |Item|>
              Submenu 2 {{if Item.isActive '(active)'}}

              {{#if Item.isActive}}
                <Item.sublist class='absolute bg-white shadow' as |List|>
                  <List.item class='p-2' as |Item|>
                    Sub-submenu 1 {{if Item.isActive '(active)'}}
                  </List.item>
                  <List.item class='p-2'>
                    Sub-submenu 2
                  </List.item>
                </Item.sublist>
              {{/if}}
            </List.item>
          </Item.sublist>
        {{/modal-dialog}}
      {{/if}}
    </List.item>
  </DropdownList>
</div>
